.projects-carrousel {
  width: 100%;

  max-width: 1100px;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  overflow: auto;

  margin: 50px auto 10px;

  position: relative;
}

.buttons {
  width: 100%;

  display: flex;
  justify-content: center;

  gap: 0 5px;
}

.buttons button.btn-prev,
.buttons button.btn-next {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;

  outline: none;
  border: none;

  background: transparent;

  font-size: 2rem;

  color: var(--secondary-color);

  opacity: 0.5;

  cursor: pointer;
}

.buttons button:hover {
  opacity: 0.6;
}

.buttons button.btn-prev {
  left: 0px;
}

.buttons button.btn-next {
  right: 0px;
}
.projects-wrapper {
  display: flex;
  justify-content: center;

  width: max-content;

  padding: 20px;

  gap: 20px;
}

.projects-carrousel::-webkit-scrollbar {
  display: none;
}
